.rake_test_cache

###
# Ignore Chef key files and secrets
.chef/*.pem
.chef/*.orig
.chef/newpublickey
.chef/encrypted_data_bag_secret
*.swp
*.swo
.vagrant/
.cache/
vendor/
.bundle
.chef/syntax_check_cache/
